{% extends "base.html.twig" %}

{% block title %}Article n°{{ article.id }}{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="card border-primary mb-3">
        <div class="card-header text-center"><img class="img-fluid" src="{{ article.image }}" alt=""></div>
        <div class="card-body">
            <h4 class="card-title text-center">{{ article.title }}</h4>
            {{ article.content|raw }}
            <p>{{  article.createdAt|date('d/m/Y à H:i:s') }}</p>
        </div>
    </div>
    </div>

{% endblock %}